@charset "utf-8";
body{height:100vh;font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
ul,li{list-style:none}a{display:block;color:#000;text-decoration:none}
i{display:inline-block;font-size:20px;vertical-align:top}
.ir_so{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.img_g{display:inline-block;width:100%;vertical-align:top}
.area__link{height:100%}
.right__footer{position:absolute;left:25px;bottom:25px}
.right__footer .footer__link{font-size:28px;letter-spacing:-2px;color:#e8e8e8}
.grid__box>div{overflow:hidden;position:relative;border-radius:15px}
.grid__box>div>.area__link>.img_g{height:100%;object-fit:cover}

.main-container{width:100vw;height:100vh;background-color:#7b549b}
.inner-container{position:fixed;left:50%;bottom:0;width:1280px;height:960px;background-color:#000;transform:translate(-50%)}
.grid__box{display:grid;grid-template:1fr 1fr .8fr/1fr 1fr .8fr .6fr;gap:2px;width:100%;height:100%;padding:20px;box-sizing:border-box}

.main__box{grid-area:span 2/span 2;padding:40px 32px;background-color:#fff;box-sizing:border-box}
.main__box .main__header .logo{position:absolute;top:40px;left:32px}
.main__box .main__header .logo i{font-size:66px}
.main__box .main__header .right__header-box{display:flex;align-items:center;justify-content:flex-end}
.main__box .main__header .right__header-box .best__rating{margin-right:40px;font-size:24px}
.main__box .main__header .right__header-box .best__reviews{padding:5px 10px;font-weight:700;border-radius:20px;background-color:#f0c828}
.main__box .main__section{display:flex;align-items:center;justify-content:center}
.main__box .main__section .main__section-txt{padding:150px 0;font-weight:900;font-size:115px}
.main__box .main__footer{border-top:2px solid #000}
.main__box .main__footer .main__footer-txt{display:block;padding-top:10px;font-weight:700;font-size:35px}
.main__box .main__link{position:absolute;bottom:15px;right:15px;padding:15px}
.main__box .main__link i{font-size:28px}
.right__box-2{padding:25px 35px}
.right__box-2 .nav__list{display:flex;flex-direction:column;justify-content:center}
.right__box-2 .nav__list li{margin:0 0 24px}
.right__box-2 .nav__list li .nav__link{color:#e8e8e8}
.right__box-2 .circle{position:absolute;top:30px;right:25px;width:15px;height:15px;border-radius:50%;background-color:#f0c8286e}
.right__box-3{padding:2px}
.right__box-3 .corporate__area{border-radius:15px;background-color:#fff}
.right__box-3 .corporate__area:first-child{background-color:#f0c828}
.right__box-3 .corporate__area:nth-child(2){transform:rotate(10deg)}
.right__box-3 .corporate__area .wrap__txt{padding:18px 0;font-weight:700}
.right__box-3 .corporate__area .wrap__txt>span{display:block}
.right__box-3 .corporate__area .wrap__txt .corporate__txt{margin:0 9px 0 128px;font-size:14px}
.right__box-3 .corporate__area .wrap__txt .corporate__name{font-size:28px;text-align:center}
.bottom__box-2 .wrap__txt{position:absolute;top:20px;left:20px;width:38px}
.bottom__box-2 .wrap__txt .splite__txt{font-size:18px;line-height:30px}
.bottom__box-2 .wrap__txt .splite__txt .splite__txt-bold{font-weight:700;text-transform:uppercase}
.bottom__box-3{grid-column:span 2;padding:25px;background-color:#fff}
.bottom__box-3 .preview__info{display:flex;align-items:center;justify-content:space-between}
.bottom__box-3 .preview__info .profile__wrap:after{display:block;clear:both;content:""}
.bottom__box-3 .preview__info .profile__wrap .profile__number,
.bottom__box-3 .preview__info .profile__wrap .profile__photo{width:50px;height:70px;border-radius:30px}
.bottom__box-3 .preview__info .profile__wrap .profile__number{float:left;margin-right:10px;border:1px solid #000;box-sizing:border-box}
.bottom__box-3 .preview__info .profile__wrap .profile__number .profile__txt{display:block;font-weight:700;font-size:12px;line-height:70px;text-align:center}
.bottom__box-3 .preview__info .profile__wrap .profile__photo{overflow:hidden}
.bottom__box-3 .preview__info .profile__wrap .profile__photo .img_g{height:100%}
.bottom__box-3 .preview__info .live__wrap .live__txt{display:inline-block;margin-right:11px;font-weight:700;font-size:12px;text-align:right;vertical-align:middle}
.bottom__box-3 .preview__info .live__wrap .live__btn{width:40px;height:40px;border-radius:50%;background-color:#f0c828;cursor:pointer}
.bottom__box-3 .preview__writing{margin:50px 0 0}
.bottom__box-3 .preview__writing .preview__txt{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;width:80%;font-size:16px}
.bottom__box-3 .preview__link{position:absolute;bottom:13px;right:13px;padding:12px}
