@charset "utf-8";
*{box-sizing:border-box}
body{-webkit-font-smoothing:antialiased;overflow:hidden;line-height:1.5em;font-family:"F Grotesk Book",sans-serif;text-transform:uppercase}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{margin:0;padding:0}
ul,li{list-style:none}
a{color:#000;text-decoration:none;transition:all .2s ease}
a:visited{color:#000}
a:active,a:hover{text-decoration:none}
a:active{background-color:transparent}
i{display:inline-block;font-size:20px;vertical-align:top}
.ir_so{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

#main-nav{position:fixed;top:0;left:0;z-index:10;width:100%;height:100vh;text-align:center}
#main-border{position:absolute;top:0;left:0;width:100%;height:100%;border:#fff solid 50px}
#main-logo{position:absolute;top:11px;width:100%;line-height:1em;text-align:center}
.main__link{font-size:18px}
.nav__list{width:100%;height:100%}
.nav__list>li{position:absolute;top:0;width:100%;height:100%;transition:padding .25s ease;will-change:padding;pointer-events:none}
.nav__list>li:first-child{padding:50px}
.nav__list>li:nth-child(2){padding:60px 100px}
.nav__list>li:nth-child(3){padding:70px 150px}
.nav__list>li:nth-child(4){padding:80px 200px}
.nav__list>li:nth-child(5){padding:90px 250px}
.nav__list>li:last-child{padding:100px 300px}
#contact-box,.nav__link{display:block;position:relative;width:100%;height:100%;border:2px solid #000;text-align:center;background-color:#fff;pointer-events:auto}
#contact-box:before,#contact-box:after,.nav__link:before,.nav__link:after{display:block;position:absolute;top:0;width:auto;height:100%;padding:0 13px;box-sizing:border-box;writing-mode:vertical-lr;content:attr(title)}
#contact-box:before,.nav__link:before{left:0;transform:rotate(180deg)}
#contact-box:after,.nav__link:after{right:0}
#contact-box:hover,.nav__link:hover{color:#fff;background-color:#000}
#contact-box #box-overflow{overflow-x:hidden;overflow-y:auto;width:100%;height:100%;padding:16px;line-height:1.26em;opacity:0}
#contact-box:hover #box-overflow{opacity:1}
#contact-box:hover a{color:#fff}
#contact-box .table__area{display:table;position:relative;width:100%;height:100%}
#contact-box .cell__area{display:table-cell;position:relative;width:100%;height:100%;vertical-align:middle}
#contact-box .contact__info{overflow:hidden;height:420px;transition:.2s ease;opacity:1}
#contact-box .contact__info .contact__address{font-style:normal}
#contact-box .contact__info .contact__link{line-height:22px}
#contact-box .contact__info .contact__link:hover{color:#999}
.dash{margin:14px 0;font-size:2em}

#main-menu{position:absolute;width:100%;bottom:0}
.menu__link{display:inline-block;position:relative;width:100%;padding:13px 0 14px;text-align:center}
.menu__btn i{position:absolute;top:-3px;right:-18px}

@media(orientation:portrait){
  #main-logo{top:15px}
  .nav__list>li:nth-child(2){padding:100px 60px 60px}
  .nav__list>li:nth-child(3){padding:150px 70px 70px}
  .nav__list>li:nth-child(4){padding:200px 80px 80px}
  .nav__list>li:nth-child(5){padding:250px 90px 90px}
  .nav__list>li:last-child{padding:300px 100px 100px}
  #contact-box:before,.nav__link:before{display:none}
  #contact-box:after,.nav__link:after{width:100%;height:100%;padding:15px;writing-mode:horizontal-tb;pointer-events:none}
  #contact-box #box-overflow{padding-top:50px}
}

@media(max-width:767px){
  body{font-size:14px}
  #main-border{border-left-width:10px;border-right-width:10px}
  .main__link{font-size:16px}
  .nav__list>li:first-child{padding:50px 10px}
  .nav__list>li:nth-child(2){padding:100px 20px 60px}
  .nav__list>li:nth-child(3){padding:150px 30px 70px}
  .nav__list>li:nth-child(4){padding:200px 40px 80px}
  .nav__list>li:nth-child(5){padding:250px 50px 90px}
  .nav__list>li:last-child{padding:300px 60px 100px}
  #contact-box #box-overflow{padding:15px}
  #contact-box .table__area{position:absolute;top:0;left:50%;transform:translateX(-50%)}
}